<!DOCTYPE HTML>
<html>
<head>
    <%- include('includes/css.ejs') %>
</head>
<body>
    <div class="container text-center">
        <h1>Página no encontrada (404)</h1>
        <p>Lo sentimos, la página que buscas no existe.</p>
        <a href="/">Volver al inicio</a>
    </div>
</body>
<%- include('includes/scripts.ejs') %>
</html>