<!DOCTYPE HTML>
<html>
<head>
    <%- include('includes/css.ejs') %>
</head>
<body>
    <div class="container">
        <h1>Formulario</h1>
        <form action="/admin/form" method="POST">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>
            </div>
            <div class="mb-3">
                <label for="mensaje" class="form-label">Mensaje</label>
                <textarea class="form-control" id="mensaje" name="mensaje" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</body>
<%- include('includes/scripts.ejs') %>
</html>