<!DOCTYPE HTML>
<html>
<head>
    <%- include('includes/css.ejs') %>
</head>
<body>
    <div class="container">
        <h1><%= pageTitle %></h1>
        <p><%= mensaje %></p>
    </div>
</body>
<%- include('includes/scripts.ejs') %>
</html>